.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: fadeIn .5s;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-40px);}
    100% { opacity: 1; transform: translateY(0px); }
}

.formulario > div {
    display: flex;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 0;
    cursor: pointer;
    transition: .3s ease-in;
}

.link:hover {
    background-color: #0002;
    border-radius: 3rem;
}

@media screen and (max-width: 880px) {
    .formulario {
        height: auto;
        margin: 5px 0;
    }

    .formulario > div {
        justify-content: center;
        flex-wrap: wrap;
    }
}